html{
	scroll-behavior: smooth;
}

body {
	display: flex; /* Enable Flex Box*/
	justify-content: center;
}

.title {
	text-align: center;
	margin-top: 20px;
  }

/* .container {
	width: 80%; /* Set the width of the container to 80% */
	/* margin-left: 10%; /* Set the left margin to 10% */
	/* margin-right: 10%; Set the right margin to 10% */
	/* display: flex; */ */
  /* } */ */

  /* .logo {
	font-size: 40px;
	letter-spacing: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bolder;
  } */
  
  .container {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 20px;
  }
  
  .left-content,
  .right-content {
	flex: 1;
	padding: 20px;
  }
  
  .vertical-line {
	width: 1px;
	background-color: #000;
	height: 100%;
	margin: 0 20px;
  }
/* For Logo when it is H1, and not img. */

/* h1 {
	margin-left: 6%;
	font-family: Arial;
	font-weight: lighter;
	letter-spacing: 10px;
	font-size: 40px;
} */

.logo {
	margin: 0;
	font-size: 500%;
	letter-spacing: 3px;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bolder; 
}

/* h1:hover { 
	opacity: 0.1;
} */

/* logo is less opaque during hover */

.logo:hover {
	opacity: 0.3;
}

/* h2, the text for the horizontal navigation menu */
h2 {
	font-size: 16px;
	text-decoration: none;
	padding-left: 10%;
	font-family: 'Nanum Gothic', sans-serif;
}


h2:hover {
	text-decoration: underline;
}

/* line break between nav bar and text below */
.full_line {
	border: 1px dotted black;
	width: 80%
}

/* text for the page title */
h3 {
	font-family: Arial;
	font-weight: lighter;
	font-size: 35px;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

/* written text, main text for the page */
/* p {
	text-align: justify;
} */

.text {
	text-align: justify;
	padding-left: 36%;
	font-family: 'Helvetica';
	font-size: 17px;
}


/* code for the nav bar */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative; 
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 5% 5%;
	text-decoration: none;
	display: block;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 15px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {text-decoration: line-through;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown-content:hover {background-color:white;	
} 

  .flex-grid {
	display: flex;
  }

  .col {
	flex: 1;
  }



