body {
    margin: 0;
    padding: 0;
    margin-top: 0;
    padding-top: 0;
  }
  
  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-left: 10%;
	  margin-right: 10%;
    justify-content: space-between;
  }
  
  .title {
    text-align: center;
    margin-top: 2%;
    display: flex;
  }
  
  .logo {
    font-size: 450%;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    margin-top: 1%;
    text-align: center;
    flex: 1;
  }

  .logo:hover {
	opacity: 0.3;
  }

  nav {
    flex: 1;
  }
  
  .content {
    width: 80%;
    display: flex;
    margin: 0 10%;
    font-family: sans-serif;
  }
  
  .left-content,
  .right-content {
    flex: 1;
    padding: 20px;
  }

  .vertical-line {
    width: 1px;
    background-color: #000;
    margin: 0 20px;
  }
  
  a
  {
    text-decoration: none;
    color: #000;
  }
  /* Rest of your CSS styles */

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu select {
  font-size: 16px;
  padding: 10px;
  border: none;
  background-color: white;
  color: black;
}

.loc-pin {
  width: 5%;
  height: 5%;
}